* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #2e2e44; */
    background: transparent;
}
.digital-clock{
    position: relative;
    color:#fff;
    background: #2d2f41;
    /* width: 425px; */
    width: 100vw;
    height: 100vh;
    padding: 0vh 3vw 10vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* top:20px */
}
.time {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -4vh;

}
.hours,.dots,.minutes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 0 2vw;
    line-height: 17vw;
}
.hours,.minutes {
    font-size:14vw;
    width:16vw;
}
.dots{
    font-size:10vw;
    /* color:#929292; */
}
.hours{
    background: -webkit-linear-gradient(90deg,#634dff,#5fd4ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.minutes{
    background: -webkit-linear-gradient(90deg,#ff5e9a,#ffb960);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.right-side {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: -1vw;
}
.period {
    width: 2em;
}
.period,.seconds{
    font-size: 3vw;
    font-weight: 500;
}
.period{
    transform: translateY(-2vh);
    background: -webkit-linear-gradient(90deg, #f7b63f, #faf879);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.seconds{
    transform: translateY(2vh);
    background: -webkit-linear-gradient(90deg, #24ff6d, #2f93f1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.calendar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:3vw;
    font-weight: 500;
    top: -4vh;
    background: -webkit-linear-gradient(90deg, #ae4af6, #ff98d1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.day-name,.month-name,.year{
    margin-left: 8px;
}
.dot-menu-btn{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
    color:#efefef;
    font-size: 3vw;
    cursor: pointer;
    font-style: normal !important;
    width: 4vw;
    text-align: center;
}
.dot-menu{
    z-index:99;
    /* position: absolute;
    top: 7px;
    right: 5px; */
    list-style: none;
    background-color: #353e54;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
    top: 5vh;
    position: relative;
    

}
.dot-menu.active{
    visibility: visible;
    opacity: 1;
}
.menu-item{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw 1vw 1vw 0px;
    flex-direction: column;
    /* min-height: 100vh; */
    background-color: #353e54;
    right: -48vw;
    /* top: -18vh; */
}
.menu-item div{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
}
.clock-format-text{
    color:#efefef;
    font-size: 2vw;
    margin-left: 2vw;
    width: 23vw;
    vertical-align: middle;
}
.format-switch-btn{
    width: 3.5vw;
    height: 1.5vw;
    background: #485470;
    border-radius: 75px;
    box-shaow:inset 2px 2px 4px rgba(255, 255, 255, 0.1),inset -2px -2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    margin-left: 10px;
    align-items: center;
    flex-direction: column;
}
.format-switch-btn::before{
    content: "";
    position: absolute;
    width: 1.4vw;
    height: 1.4vw;
    background: #ff5e9a;
    border-radius: 50%;
    box-shadow:0 50x 25px #ff5e9a;
    transform: translateX(-1vw);
    transition: 0.3s ease;
    transition-property: background, transform;

}
.format-switch-btn.active::before{
    background: #0bff8d;
    transform: translateX(1vw);
}
.todo .format-switch-btn::before{
    background-color: gray;
}
.todo .clock-format-text {
    color: gray;
}